h1{
    background-color: antiquewhite;
}
.logo{
    padding: 10px;
    
    position: center;
    border: 3px solid black ;
    width: 200px;
    height: 310px;
    box-shadow: 0 0 0 ;
    /* background-image: url(OIP.jpg);
     */
   

 

}
.logo h1{
    background-color: white;
    
}  
.logo button{
    background-color:black;
    text-align: center;
    text-decoration-color: beige;
    color: white;
   border-radius: 100px;
   size: 200px;
   padding-right: 50px;
   padding-left: 50px;
   padding-top: 10px;
   padding-bottom: 10px;

   
}
